<%- include mp-header%>
<form method="post" action="" class="am-form" data-am-validator>
        <fieldset>
            <legend id="reg-id">签到</legend>
            <div class="am-form-group">
                <label for="doc-vld-school-3">学校</label>
                <input type="text" id="doc-vld-school-3" name="stuSchool"  value="<%- tea[0].school%>"  />
            </div>
             <div class="am-form-group">
                <label for="doc-vld-stuInstitute-3">学院</label>
                <input type="text" id="doc-vld-stuInstitute-3" name="stuInstitute"  value="<%- tea[0].institute%>" />
            </div>
            <div class="am-form-group">
                <label for="doc-vld-course-3">课程</label>

                <select id="doc-vld-course-3" name="stuCourse"  onchange="mpTeacher(this.value)" >
                    <% teacher.forEach(function(tea){%>
                  <option ><%= tea.courseName%></option>
                     <%}); %>
                </select>
                
            </div>
            <div class="am-form-group">
                <label for="stuClass">班级</label>
                <select id="stuClass" name="stuClass" >
                
                </select>
                
            </div>
            <div class="am-form-group">
                <label for="doc-vld-name-3">姓名</label>
                <input type="text" id="doc-vld-name-3" name="stuName"  />
            </div>
            <div class="am-form-group">
                <label for="doc-vld-no-3">学号</label>
                <input type="text" id="doc-vld-no-3" name="stuNo"  />
            </div>
            <button class="am-btn am-btn-secondary" type="submit" >补签</button>
            <button class="am-btn am-btn-secondary" type="cancel" >取消</button>
        </fieldset>
    </form>
     <script src="/javascripts/mp-teacherAdd.js"></script>      
<%- include mp-footer%>
